<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blog/main.css' %}">
    {% if title %}
        <title>Django Blog | {{title}}</title>
    {% else %}
        <title>Django,Blog</title>
    {% endif %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="margin-top: 0rem;">
    <header>
            <!--Old Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4267B2;">
        <a class="navbar-brand" href="{% url 'blog-home' %}"><h1 style="text-align: center; margin: 20px; color:white">
            Django Blog
          </h1>
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="font-size:25px; margin: 10px;padding:10px;">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'blog-home' %}"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="{% url 'blog-about' %}"><i class="fas fa-address-card"></i> About</a>
            {% if user.is_authenticated %}
              <!--<h3>Hi {{user.username}}</h3>
              <button class="btn btn-outline-info" type="submit"><i class="fas fa-user-plus"></i>Logout</button>-->
              <a class="nav-item nav-link active" href="{% url 'profile' %}"><i class="fas fa-user"></i> Profile <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link active" href="{% url 'profile' %}"><i class="fas fa-user"></i> Profile <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link active" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout <span class="sr-only">(current)</span></a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'register' %}"><i class="fas fa-user-plus"></i> Sign up</a>
            <a class="nav-item nav-link" href="{% url 'login' %}" tabindex="-1" aria-disabled="true"><i class="fas fa-sign-in-alt"></i>Login</a>
            {% endif %}
          </div>
        </div>
      </nav>
    </header>
      <!--Main--> 
      <main role="main" class="container">
        <div class="row">
          <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                  </div>
                {% endfor %}
            {% endif %}
                
            {% block content %}{% endblock %}
          </div>
          <div class="col-md-4">
            <div class="content-section">
              <h3>Our Sidebar</h3>
              <p class='text-muted'>You can put any information here you'd like.
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light">Latest Posts</li>
                  <li class="list-group-item list-group-item-light">Announcements</li>
                  <li class="list-group-item list-group-item-light">Calendars</li>
                  <li class="list-group-item list-group-item-light">etc</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </main>      
      <script src="https://kit.fontawesome.com/36e7222a92.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>